body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.15;
    font-size: 16pt;
    background-color: white;
}

nav ul, li, a{
    list-style: none;
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 18pt;
}

header{
    display: none;
}

h1{
    font-size: 3em;
    text-align: center;
    color: #3792cb;
}

header h1{
    animation-name: header-motion;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}

  @keyframes header-motion{
    0% {color: white; transform: scale(0.8)}
    100% {color: #3792cb; transform: scale(1.0)}
}

.nav_links{
    display: none;
}

#skip{
    display: none;
}

.container{
    text-align: center;
    padding: 50px;
}

.container p{
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 10px;
}

#headshot{
    max-width: 75%;
}

footer{
    display: flex;
    flex-flow: column nowrap;
    margin: 10px;
    text-align: center;
    align-items: center;
    bottom: 0;
    border-top: 3px solid black;
}

.footer_links a:hover{
    cursor: pointer;
}

.footer_icon{
    width: 35px;
    height: 35px;
}

footer h1{
    font-size: 1.5em;
}
footer p{
    font-size: 10pt;
}

.nav_links{
    display: none;
}

.dropbtn{
    background-color: white;
    color:#3792cb;
    border: none;
    padding: 10px;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
    font-size: 30pt;
}

.dropdown{
    position: relative;
    display: inline-block;
    
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100vw;
    text-align: center;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

.page_display h2{
    display: none;
}

.page_display #active{
    display: block;
    align-items: center;
    position: absolute;
    color: black;
    background-color: #3792cb; 
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width: 160px;
    width: 100vw;
}

  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #3792cb; font-weight: bold}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color:white;}

#summary_intro{
    padding-top: 20px;
    font-weight: 500;
    font-size: 1.25em;
}

#flip-intro, .back h{
    display: none;
}

#welcome{
    display: none;
}



/* Experience Page */
.experience{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.experience h1{
    font-size: 1.5em;
    color: black;
    font-style: italic;
    padding-bottom: 0;
    margin-bottom: 10px;
}
.experience p{
    font-style: italic;
    font-weight: 400;
    line-height: 0.5px;
    padding-bottom: 20px;

}

.experience li{
    list-style-position: outside;
    list-style-type: disc;
    text-align: left;
    font-size: .75em;
    margin-left: 8px;
    padding: 3px;
}

.experience div{
    padding: 20px;
    align-items: center;
    justify-content: center;
}

#puroclean{
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;
}

.experience img{
    height: 100%;
    width: 85vw;
    object-fit: cover;
    max-height: 50vh;
}

#puroclean img{
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
}

#chio img{
    grid-row: 3 / span 1;
    grid-column: 1 / span 2;
}

#chio{
    grid-row: 4 / span 1;
    grid-column: 1 / span 2;
}

#siba img{
    grid-row: 5 / span 1;
    grid-column: 1 / span 2;
}

#siba{
    grid-row: 6 / span 1;
    grid-column: 1 / span 2;
}

.categories{
    font-style: normal;
    color: #CDEBF9;
    text-align: center;
    background-color: black;
    font-size: 1em;
}

.skills{
    display: flex;
    justify-content: space-between;
    align-items: center;
    scroll-behavior: smooth;
}

.skills p{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.skills p:hover{
    text-shadow: 2px 2px #CDEBF9;
    text-shadow: 3px 3px #CDEBF9;
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);

}
/* About Me Page */
.gallery{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.gallery img{
    padding: 0.5%;
    max-height: 65vh;
    min-width: 0;
    max-width: 90vw;
    object-fit: cover;
    filter: grayscale(100%);
}

.gallery img:hover{
    filter: opacity(1.0);
    border: 5px solid black;
}

/* Contact Page */
#contact_img{
    max-width: 100%;
    object-fit: cover;
    background-attachment: fixed;   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 450px;
    background-image: url("../images/mt_tammany.jpeg");
}

form{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    padding: 30px;
    margin: 0 auto;
    width: 75%;
    position: relative;
    align-content: center;
}

legend{
    font-size: 120%;
    font-style: italic;
    text-align: center;
}

input{
    width: 100%;
    height: 75px;
    border: 1px solid black;
    font-size: 1.5em;
    padding: 0px 15px 0px 15px;
    background: transparent;
    outline: none;
    color: black;
    font-size: .75em;
    border: solid 1px black;
    border-bottom: none;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}

textarea{
    width: 100%;
    height: 110px;
    padding: 15px;
    background: transparent;
    outline: none;
    color: black;
    font-size: .75em;
    border: solid 1px black;
    transition: all 0.3s ease-in-out;
    font-family: 'Montserrat', sans-serif;
}

textarea:hover {
    background: #EFF7FA;
}

input:hover{
    background: #EFF7FA;
}

#submit:hover{
    background-color: black;
    color: white;
}

#submit{
    margin: 10px;
    text-align: center;
    width: 60%;
    color: black;
    border: solid 1px black;
    background-color: #3792cb;
    cursor: pointer;
}

input::placeholder, textarea::placeholder {
    color: black;
  }

label{
    display: none;
}

#connect{
    padding-top: 40px;
    padding-bottom: 0;
    font-weight: 600;
    font-size: 2em;
}

/* Tablet view */
@media screen and (min-width: 600px){
    .nav_links{
        display: flex;
        list-style-type: none;
        flex-flow: row;
        justify-content: space-between;
        margin: 10px 30px;
        text-decoration: none;
    }

    nav{
        border-bottom: 2px black solid;
        border-top: 2px black solid;
    }

    .nav_links a:hover, #current{
        color: black;
        font-weight: bold;
    }

    .nav_links #current{
        background-color: #CDEBF9;
        color: black;
        text-decoration: underline;
    }

    .dropdown{
        display: none;
    }

    header{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
        background-color: white;
    }

    #submit{
        width:20%;
    }

    .container p{
        margin-left: 25px;
        margin-right: 25px;
        padding-top: 10px;
    }

    .page_display{
        display: none;
    }

    .summary p{
        text-align: left;
    }

    #headshot{
        height: 350px;
        width: 80vw;
    }

    .home{
        display: grid;
        grid-template-rows: 400px 450px;
        grid-template-columns: 1fr;
    }

    .home #summary_intro{
        padding-bottom: 5px;
    }
    
    .home p.extra{
        font-size: .85em;
        padding: 5px;
    }
}

/* Desktop view */
@media screen and (min-width: 801px){
    #skip a{
        position: absolute;
        color: black;
        transform: translateY(-500%);
        font-size: .8em;
    }
    
    #skip a:focus{
        transform: translateY(0%);
    }

    .nav_links{
      display: flex;
      list-style-type: none;
      flex-flow: row;
      justify-content: space-between;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-right: 50px;
      margin-left: 50px;
     }

     #headshot{
        max-width: 500px;
        max-height: 500px;
    }

    .container p{
        margin-left: 0;
        margin-right: 0;
    }

    .flipcard{
        background: transparent;
        justify-content: center;
        width: 75vw;
        height: 500px;
        perspective: 1000px;
    }
    
    .inner{
        position: relative;
        width: 100%;
        height: 45vh;
        text-align: center;
        transition: transform 1s;
        transform-style: preserve-3d;
    }
    
    .front, .back{
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    .back{
        background-color: black;
        transform: rotateY(180deg);
        color: white;
    }
    
    .back p{
        text-align: center;
        position: absolute;
        font-size: 2em;
        color: white;
        display: initial;
        transform: translate(-50%, 20%);
    }

    .flipcard:hover .inner, .flipcard:focus-within .inner,
    .flipcard:active .inner, .flip-card:focus .inner{
        transform: rotateY(180deg);
    }

    .home{
        display: grid;
        grid-template-rows: 400px 175px;
        grid-template-columns: 1fr;
    }

    #headshot{
        grid-row: 1 / span 1;
        grid-column: 1 / span 1;
        height: 350px;
        width: 85vw;
        justify-content: center;
    }

    #flip-intro{
        display: initial;
        color: white;
        padding-top: 30px;
        font-weight: 300;
        font-size: 1.25em;
    }

    #summary_intro{
        display: none;
    }

    #welcome{
        display: initial;
    }
    
}

@media screen and (prefers-reduced-motion: reduce){
    h1{
        animation: none;
    }


}