body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.15;
    font-size: 16pt;
    background-color: white;
}

nav ul, li, a{
    list-style: none;
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 18pt;
}

.skip{
    position: absolute;
    left: -100%;
    transform: translateY(-100%);
}

header{
    display: none;
}

h1{
    font-size: 3em;
    text-align: center;
    color: #3792cb;
}

header h1{
    animation-name: color-change;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}

  @keyframes color-change{
    0% {color: white; transform: scale(0.8)}
    100% {color: #3792cb; transform: scale(1.0)}
}

.nav_links{
    display: none;
}

.container{
    text-align: center;
    padding: 50px;

}

.container p{
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 10px;
}

#headshot{
    max-width: 80%;
}

.flip-card{
    background-color: transparent;
    align-items: center;
    height: 100px;
    width: 85vw;
    margin: auto;
    padding: auto;
    justify-content: center;
    font-size: 10px;
}

.inner{
    position: relative;
    text-align: center;
    transition: transform 0.5s;
    text-align: center;
}

.flip-card:hover .inner{
    transform: rotateY(180deg);
}

.front, .back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.front{
    background-color: transparent;
    transform: rotateY(180deg);
    color: white;
}

.back{
    position: absolute;
    background-color: #3792cb;
    color: white;
}

footer{
    display: flex;
    flex-flow: column nowrap;
    margin: 10px;
    text-align: center;
    align-items: center;
    bottom: 0;
    border-top: 3px solid black;
}

.footer_icon{
    width: 35px;
    height: 35px;
}

footer h1{
    font-size: 1.5em;
}
footer p{
    font-size: 10pt;
}

.nav_links{
    display: none;
}

.dropbtn{
    background-color: white;
    color:#3792cb;
    border: none;
    padding: 10px;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
    font-size: 30pt;
}

.dropdown{
    position: relative;
    display: inline-block;
    
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100vw;
    text-align: center;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

.page_display h2{
    display: none;
}

.page_display #active{
    display: block;
    align-items: center;
    position: absolute;
    color: black;
    background-color: #3792cb; 
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width: 160px;
    width: 100vw;
}

  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #3792cb;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color:white;}

/* Experience Page */
.experience{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.experience h1{
    font-size: 1.5em;
    color: black;
    font-style: italic;
    padding-bottom: 0;
    margin-bottom: 10px;
}
.experience p{
    font-style: italic;
    font-weight: 400;
    line-height: 0.5px;
    padding-bottom: 20px;

}

.experience li{
    list-style-position: outside;
    list-style-type: disc;
    text-align: left;
    font-size: .75em;
    margin-left: 8px;
    padding: 3px;
}

.experience div{
    padding: 20px;
    align-items: center;
    justify-content: center;
}

#puroclean{
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;
}

.experience img{
    height: 100%;
    width: 85vw;
    object-fit: cover;
    max-height: 50vh;
}

#puroclean img{
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
}

#chio img{
    grid-row: 3 / span 1;
    grid-column: 1 / span 2;
}

#chio{
    grid-row: 4 / span 1;
    grid-column: 1 / span 2;
}

#siba img{
    grid-row: 5 / span 1;
    grid-column: 1 / span 2;
}

#siba{
    grid-row: 6 / span 1;
    grid-column: 1 / span 2;
}

#categories{
    font-style: normal;
    color: #CDEBF9;
    text-align: center;
    background-color: black;
    font-size: 1em;
}

.skills{
    background-attachment: fixed; /* Parallax effect */     
    background-position: center;  /* Parallax effect */
    background-repeat: no-repeat; /* Parallax effect */
    background-size: cover;      /* Parallax effect */
    color: white;
    height: 200px;                /* Parallax effect */
    background-image: url("../images/code-wallpaper-10.jpg");
    opacity: 1.5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    scroll-behavior: smooth;
}

.skills p{
    font-weight: bold;
    font-size: 20px;
    
    /* background-color: black; */
}
/* About Me Page */
.gallery{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.gallery img{
    padding: 0.5%;
    max-height: 65vh;
    min-width: 0;
    max-width: 90vw;
    object-fit: cover;
    filter: grayscale(100%);
}

.gallery img:hover{
    filter: opacity(1.0);
    border: 5px solid black;
}

/* Contact Page */
form{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    padding: 30px;
    margin: 0 auto;
    width: 75%;
    position: relative;
    align-content: center;
}

legend{
    font-size: 120%;
    font-style: italic;
    text-align: center;
}

input{
    width: 100%;
    height: 75px;
    border: 1px solid black;
    font-size: 1.5em;
    padding: 0px 15px 0px 15px;
    background: transparent;
    outline: none;
    color: black;
    font-size: .75em;
    border: solid 1px black;
    border-bottom: none;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}

textarea{
    width: 100%;
    height: 110px;
    padding: 15px;
    background: transparent;
    outline: none;
    color: black;
    font-size: .75em;
    border: solid 1px black;
    transition: all 0.3s ease-in-out;
    font-family: 'Montserrat', sans-serif;
}

textarea:hover {
    background: #EFF7FA;
}

input:hover{
    background: #EFF7FA;
}

#submit:hover{
    background-color: black;
    color: white;
}

#submit{
    margin: 10px;
    text-align: center;
    width: 60%;
    color: black;
    border: solid 1px black;
    background-color: #3792cb;
    cursor: pointer;
}

input::placeholder, textarea::placeholder {
    color: black;
  }
  
label{
    display: none;
}

#connect{
    font-weight: 600;
}
/* Different media screens*/
@media screen and (min-width: 700px){
    .nav_links{
        display: flex;
        list-style-type: none;
        flex-flow: row;
        justify-content: space-between;
        margin: 10px 30px;
        text-decoration: none;
    }

    nav{
        border-bottom: 2px black solid;
        border-top: 2px black solid;
    }

    .link a:hover, #current{
        color: black;
        font-weight: bold;
        background-color: #CDEBF9;
    }

    .dropdown{
        display: none;
    }

    header{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
        background-color: white;
    }

    #submit{
        width:20%;
    }

    .container p{
        margin-left: 25px;
        margin-right: 25px;
        padding-top: 10px;
    }

    .page_display{
        display: none;
    }
}

@media screen and (min-width: 1000px){
    .nav_links{
      display: flex;
      list-style-type: none;
      flex-flow: row;
      justify-content: space-between;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-right: 50px;
      margin-left: 50px;
     }
}

@media screen and (prefers-reduced-motion: reduce){
    h1{
        animation: none;
    }
}